<div class="container">
    <div class="songlist">
      <h1>best of NCS-no copy right nohas</h1>
      <div class="songItemscontainer">
        <div class="scroll">
        <div class="songItem">
          <img src="2.png" alt="1">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="0" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="1">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="1" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="2">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="2" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="3">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="3" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="4">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="4" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="5">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="5" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="6">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="6" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="7">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="7" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="8">
          <span class="songName">alvisa tune</span>
          <span class="timestamp"><i id="8" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="9">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="9" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="10">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="10" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="11">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="11" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="12">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="12" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="13">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="13" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="14">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="14" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="15">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="15" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="16">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="16" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="17">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id=17" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
        <div class="songItem">
          <img src="2.png" alt="17">
          <span class="songName">alvisa tune</span>
          <span class="songlistplay"><span class="timestamp"><i id="18" class="fa-2x fa-solid songItemPlay fa-circle-play"></i></span></span>
          
        </div>
       
      </div>
      </div>
      <div class="musicgif">
        <img src="giphy.gif" alt="" id="logogif" >
    </div>

    </div>
      <div class="nohabanner"></div>