  <nav>
      <ul>
        <li class="brand"><img src="mosque_PNG18.png" alt="islamio" /> <span class="logotext">Islamdio</span></li>
        <li><a href="/">home</a></li>
        <li><a href="/about" src="/about">about</a></li>
        <li><a href="/live">live</a></li>
        <li class="signin" scr="/signin">signin</li>
      </ul>
    </nav>